body {
    background-color: #0228514a;
}

.tg_iframe header {
              position: initial;
    display: grid;
    border-radius: 10px 10px 0px 0px;
    background: linear-gradient(90deg, #381d64 0%, #140243 100%);
    overflow: hidden;
    border: 1px solid #350a53;
    border-bottom: none;
              box-shadow: 0 1px 5px rgb(89 32 161);
    padding: 20px;
}

.tg_iframe .page {
    padding: 25px !important; 
    padding-top: 30px !important; 
          padding-bottom: 30px !important; 
           border-radius: 0px 0px 10px 10px;
    box-shadow: 0px 0px 1px 1px #350a53 inset;
}

.tg_iframe header a {
          color: #7dd2ff;
}

.tg_iframe header h1 {
          margin: 0;
}

.tg_iframe header a:hover {
          color: #bac9fa88;
 text-decoration: none;
}

body.tg_iframe {
    height: unset;
    min-height: 100px;
    overflow: hidden;
}

.tg_iframe .tg-event-button {
    border-radius: 5px;
   color: #edeef3;
    background: linear-gradient(90deg, #381d64 0%, rgb(9 13 42 / 80%) 100%);
    text-align: center;
    cursor: pointer;
  transition: 0.3s;
          display: grid;
          padding: 0;
}

.tg_iframe .tg-event-button a {
    color: #edeef3;
    padding: 5px 30px;
    height: 100%;
    width: 100%;
    font-weight: 200;
}

.tg_iframe .tg-event-button:hover {
 transition: 0.3s;
    box-shadow: 0px 0px 2px 2px #4d058a;
}

.tg_iframe .footerTitleTG {
 display: none;   
}

.tg_iframe .step-onlytid .page-title-wrapper {
 display: none;   
}

.tg_iframe .step-onlytid .container {
    display: grid;
    gap: 20px;
    width: 100%;
    justify-items: start;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    max-width: 100%;
    width: 100%; 
   padding-right:0;
   padding-left:0; 
    margin-right: 0;
    margin-left: 0;
}

.tg_iframe .step-onlytid .tg-event-element {
    width: 100%;
}

.tg_iframe .step-onlytid .tg-event-element-name-tr {
        background: #0311514d;
    border-radius: 8px;    
       box-shadow: 0px 0px 4px 0px #7f7fff75;
    transition: 0.2s;
}

.tg_iframe .step-onlytid .tg-event-element-name-tr:hover {
       transition: 0.2s;
       box-shadow: 0px 0px 4px 1px #7f7fff75;
}
   

.tg_iframe .step-onlytid .tg-event-element-name {
 border: none;
    margin: 0;
 
 display: grid;
 align-content: stretch;
 padding: 24px 18px;
}

.tg_iframe .step-onlytid .tg-event-element-name .tg-event-image {
 display: none;
}

.tg_iframe .age_category {
 display: none;
}

.tg_iframe .step-onlytid .tg-event-element-name .tg-event-theme {
 display: none;
}

.tg_iframe .step-onlytid .tg-event-element-name .tg-event-name {
 color: #e3e3e3;
}

.tg_iframe .step-onlytid .tg-event-element-name .tg-event-elements-desc {
 cursor: default;
          
          color: #e3e3e3;
}

.tg_iframe .step-onlytid .tg-event-element-name .tg-event-flex * {
 margin: 0;
}

.tg_iframe .step-onlytid .tg-event-element-name .tg-event-flex {
 display: grid;
 gap: 12px;
}

.tg_iframe .step-onlytid .tg-event-element-name .tg-event-buttons {
 gap: 12px;
  display: grid;
     margin-top: 15px;
    justify-items: end;
     align-items: center;
    height: 100%;
}



.tg-event-element-name-tr:hover .tg-event-element-name {
    border: none;
    box-shadow: unset;
    background: none;
           color: #edeef3;
}

.tg_iframe .step-event  {
    display: grid;
    gap: 20px;
        justify-content: start;
}

.tg_iframe .step-event .page-title-wrapper .row {
    display: grid;
}

.tg_iframe .step-event .page-title-wrapper .col-lg-6 {
    max-width: unset;
    padding: 0;
}

.tg_iframe .step-event .page-title-wrapper .page-title {
     display: grid;
    color: #edeef3;
    justify-items: start;
    background: transparent;
    margin: 0;
        padding: 0px 15px;
}

.tg_iframe .step-event .container  {
        display: grid;
    gap: 20px;
  color: #edeef3;
}

.tg_iframe .step-event .container .tg-events-all  {
        display: grid;
    gap: 20px;
  color: #edeef3;
}

.tg_iframe .step-event .container .tg-events-all .tg-select-datetime  {
       display: grid;
    grid-auto-flow: column;
    justify-content: start;
    gap: 30px;
   
        grid-template-columns: 1fr 1fr;
}

.tg_iframe .step-event .container .tg-events-all .tg-select-datetime .form-control  {
       margin: 0;
}

.tg_iframe .step-event .container .tg-events-all .b-select-time  {
        padding: 0;
    justify-self: start;
    width: 100% !important;
}

.tg_iframe .step-event .container .tg-events-all .b-select-time .select-time-item  {
        color: #edeef3;
}

.tg_iframe .back-btn-wrapper {
    display: grid;
}

.tg_iframe .back-btn-wrapper .back-btn {
    color: #b2b2b2;
}

.tg_iframe .back-btn-wrapper .back-btn:hover {
     color: #b2b2b2;
    text-decoration: none;
}

.tg_iframe .back-btn-wrapper .back-btn svg {
    stroke: #b2b2b2 !important;
}



.tg_iframe .flatpickr-calendar.inline {
   
    top: 0px;
}

.tg_iframe .flatpickr-months {
        background: linear-gradient(90deg, #381d64 0%, #180048 100%);
    box-sizing: content-box;
       border-radius: 10px 10px 0px 0px;
}

.tg_iframe .flatpickr-calendar {
 background: transparent;   
}

.tg_iframe .flatpickr-innerContainer {
    
    background: #f2f1f7;
}

.tg_iframe .flatpickr-months .flatpickr-next-month.flatpickr-next-month {
    right: 16px;
    display: grid;
    align-items: center;
    justify-items: center;
}

.tg_iframe .flatpickr-months .flatpickr-prev-month.flatpickr-prev-month {
    display: grid;
    align-items: center;
    justify-items: center;
}

.flatpickr-months .flatpickr-next-month:hover, .flatpickr-months .flatpickr-prev-month:hover {
    background: #3f1b5e;
}

.tg_iframe .flatpickr-current-month {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: auto auto;
    justify-items: start;
    align-items: center;
}

.tg_iframe .flatpickr-current-month .cur-month {
    justify-self: end;
}

.tg_iframe .step-active  {
    display: grid;
    gap: 20px;
        justify-content: start;
}

.tg_iframe .step-active  {
    display: grid;
    gap: 20px;
        justify-content: start;
}

.tg_iframe .step-active .container  {
    display: grid;
    gap: 20px;
        justify-content: start;
}

.tg_iframe .step-active .container .tg-event-kkt-description  {
    display: none;
}

.tg_iframe .step-active .container .page-subtitle   {
    margin: 0;
}


.tg_iframe .step-active  .page-title-wrapper {
color: #edeef3;
}

.tg_iframe .step-active .container-col {
    display: grid;
    gap: 20px;
        padding: 15px;
}

.tg_iframe .page-title .eventName {
    margin: 0;
    justify-self: start;
}


