body {
    background-color: #0228514a;
    color: #edeef3;
}

.tg_iframe header {
    position: initial;
    display: grid;
    border-radius: 10px 10px 0px 0px;
    background: linear-gradient(90deg, #381d64 0%, #140243 100%);
    overflow: hidden;
    border: 1px solid #350a53;
    border-bottom: none;
    box-shadow: 0 1px 5px rgb(89 32 161);
    padding: 20px;
}



.tg_iframe .page {
    padding: 25px !important;
    padding-top: 30px !important;
    padding-bottom: 30px !important;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0px 0px 1px 1px #350a53 inset;
}

.tg_iframe header a {
    color: #7dd2ff;
}

.tg_iframe header h1 {
    margin: 0;
}

.tg_iframe header a:hover {
    color: #bac9fa88;
    text-decoration: none;
}

body.tg_iframe {
    height: unset;
    min-height: 100px;
    overflow: hidden;
}

.tg_iframe .tg-event-button {
    border-radius: 15px;
    color: #edeef3;
    transition: 0.3s;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
    display: grid;
    padding: 0;
    background: transparent;
    border: 1px solid #5b17a3;
}

.tg_iframe .tg-event-button a {
    color: #edeef3;
    padding: 5px 30px;
    height: 100%;
    width: 100%;
    font-weight: 200;
}

.tg_iframe .tg-event-button:hover {
    transition: 0.3s;
    background: linear-gradient(to top, #381d64 0%, #6955f6 100%);
    border: 1px solid #5b17a8;
}

.tg_iframe .btn-wrapper {
    margin: 0;
}

.tg_iframe .btn {
    background: transparent;
    border: 1px solid #5b17a3;
    transition: 0.3s;
}

.tg_iframe .btn:hover {
    transition: 0.3s;
    background: linear-gradient(to top, #381d64 0%, #6955f6 100%);
    border: 1px solid #5b17a8;
}

.tg_iframe .footerTitleTG {
    display: none;
}

.tg_iframe .step-onlytid .page-title-wrapper {
    display: none;
}

.tg_iframe .step-onlytid .container {
    display: grid;
    gap: 20px;
    width: 100%;
    justify-items: start;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    max-width: 100%;
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    margin-right: 0;
    margin-left: 0;
}

.tg_iframe .step-onlytid .tg-event-element {
    width: 100%;
}

.tg_iframe .step-onlytid .tg-event-element-name-tr {
    background: #0311514d;
    border-radius: 8px;
    box-shadow: 0px 0px 4px 0px #7f7fff50;
    transition: 0.2s;
}

.tg_iframe .step-onlytid .tg-event-element-name-tr:hover {
    transition: 0.2s;
    box-shadow: 0px 0px 4px 0px #7f7fff75;
}


.tg_iframe .step-onlytid .tg-event-element-name {
    border: none;
    margin: 0;

    display: grid;
    align-content: stretch;
    padding: 24px 18px;
}

.tg_iframe .step-onlytid .tg-event-element-name .tg-event-image {
    display: none;
}

.tg_iframe .age_category {
    display: none;
}

.tg_iframe .step-onlytid .tg-event-element-name .tg-event-theme {
    display: none;
}

.tg_iframe .step-onlytid .tg-event-element-name .tg-event-name {
    letter-spacing: 1px;
    color: #e3e3e3;
}

.tg_iframe .step-onlytid .tg-event-element-name .tg-event-elements-desc {
    cursor: default;

    color: #e3e3e3;
}

.tg_iframe .step-onlytid .tg-event-element-name .tg-event-flex * {
    margin: 0;
}

.tg_iframe .step-onlytid .tg-event-element-name .tg-event-flex {
    display: grid;
    gap: 12px;
}

.tg_iframe .step-onlytid .tg-event-element-name .tg-event-buttons {
    gap: 12px;
    display: grid;
    margin-top: 15px;
    justify-items: end;
    align-items: center;
    height: 100%;
}



.tg-event-element-name-tr:hover .tg-event-element-name {
    border: none;
    box-shadow: unset;
    background: none;
    color: #edeef3;
}

.tg_iframe .step-event {
    display: grid;
    gap: 20px;
    justify-content: start;
}

.tg_iframe .step-event .page-title-wrapper .row {
    display: grid;
}

.tg_iframe .step-event .page-title-wrapper .col-lg-6 {
    max-width: unset;
    padding: 0;
}

.tg_iframe .step-event .page-title-wrapper .page-title {
    display: grid;
    color: #edeef3;
    justify-items: start;
    background: transparent;
    margin: 0;
    padding: 0px 15px;
}

.tg_iframe .step-event .container {
    display: grid;
    gap: 20px;
    color: #edeef3;
}

.tg_iframe .step-event .container .tg-events-all {
    display: grid;
    gap: 20px;
    color: #edeef3;
}

.tg_iframe .step-event .container .tg-events-all .tg-select-datetime {
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    gap: 30px;
    margin-top: 20px;
    grid-template-columns: 1fr 1fr;
}

.tg_iframe .step-event .container .tg-events-all .tg-select-datetime .form-control {
    margin: 0;
}

.tg_iframe .step-event .container .tg-events-all .b-select-time {
    padding: 0;
    justify-self: start;
    width: 100% !important;
}

.tg_iframe .step-event .back-btn-wrapper {
    display: none;
}

.tg_iframe .step-event .container .tg-events-all .b-select-time .select-time-item {
    color: #edeef3;
    transition: 0.2s;
}

.tg_iframe .step-event .container .tg-events-all .b-select-time .select-time-item:hover {
    background: #cbb4f93d;
    border-color: #2a185f;
    color: white;
    transition: 0.2s;
}

.tg_iframe .select-time-item.active,
.tg_iframe .select-time-item_.active {
    background: rgba(107, 42, 180, 0.384);
    border-color: #2a185f;
    color: #fff;
    font-weight: 900;
}

.tg_iframe .ticket-type-count-btn:not(:disabled):not(.disabled):hover svg {
    fill: #2a185f;
}

.tg_iframe .back-btn-wrapper {
    display: grid;
    justify-items: end;
}

.tg_iframe .back-btn-wrapper .back-btn {
    color: #b2b2b2;
}

.tg_iframe .back-btn-wrapper .back-btn:hover {
    color: #ebe8e8;
    text-decoration: none;
}

.tg_iframe .back-btn-wrapper .back-btn svg {
    stroke: #b2b2b2 !important;
}



.tg_iframe .flatpickr-calendar.inline {

    top: 0px;
}

.tg_iframe .flatpickr-months {
    background: linear-gradient(90deg, #381d64 0%, #180048 100%);
    box-sizing: content-box;
    border-radius: 10px 10px 0px 0px;
}

.tg_iframe .flatpickr-calendar {
    background: transparent;
}

.tg_iframe .flatpickr-innerContainer {

    background: linear-gradient(to bottom right, #dceaf6, #e1e8ff, #dfe4ff, #daeeff, #cedaff);
}

.tg_iframe .flatpickr-months .flatpickr-next-month.flatpickr-next-month {
    right: 16px;
    display: grid;
    align-items: center;
    justify-items: center;
}

.tg_iframe .flatpickr-months .flatpickr-prev-month.flatpickr-prev-month {
    display: grid;
    align-items: center;
    justify-items: center;
}

.flatpickr-months .flatpickr-next-month:hover,
.flatpickr-months .flatpickr-prev-month:hover {
    background: #3f1b5e;
}

.tg_iframe .flatpickr-current-month {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: auto auto;
    justify-items: start;
    align-items: center;
}

.tg_iframe .flatpickr-current-month .cur-month {
    justify-self: end;
}

.tg_iframe .step-active {
    display: grid;
    gap: 40px;
    justify-content: start;
    grid-template-columns: 100%;
}

.tg_iframe .step-active .container {
    display: grid;
    gap: 20px;
    justify-content: start;
    grid-template-columns: 100%;
}

.tg_iframe .step-active .container .tarif_group {
    border-radius: 10px;
    overflow: hidden;
}

.tg_iframe .step-active .container .tg-tickets-total {
    background: linear-gradient(90deg, #381d64 0%, #140243 100%);
    border: 1px solid #350a53;
    display: grid;
    grid-auto-flow: column;
    height: auto;
    box-shadow: 0 1px 5px rgb(89 32 161);
    align-items: center;
    grid-template-columns: 1fr 1fr;
    position: unset;
    border-radius: 10px;
    width: 100%;
}



.tg_iframe .step-active .container .tg-tickets-total .b-selected-tickets-total {
    color: #edeef3;
    min-height: unset;
    padding: 8px;
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    justify-items: end;
    gap: 15px;

}




.tg_iframe .step-active .container .tg-event-kkt-description {
    display: none;
}

.tg_iframe .container .page-subtitle {
    margin-bottom: 20px;
    color: #edeef3;
}

.tg_iframe .step-active .container .levelname {
    display: none;
}



.tg_iframe .step-active .page-title-wrapper {
    color: #edeef3;
}

.tg_iframe .step-active .page-title-wrapper {
    color: #edeef3;
}

.tg_iframe .step-active .ticket-type-count-selector button {
    border-radius: 20px;
    border: 1px solid #2a185f;
}

.tg_iframe .step-active .ticket-type-count-selector svg {
    fill: #2a185f;
}

.ticket-type-count-btn:not(:disabled):not(.disabled):hover {
    background: #cbb4f93d;
    border-color: #2a185f;
    transition: 0.2s;
}

.tg_iframe .step-active .ticket-type {
    background: linear-gradient(to bottom right, #dceaf6, #e1e8ff, #dfe4ff, #daeeff, #cedaff);

}

.tg_iframe .step-active .ticket-type .row {
    height: unset;
    display: grid;
    gap: 20px;
    grid-template-rows: auto 1fr;
}

.tg_iframe .step-active .ticket-type .row .col-6 {
    display: grid;
    gap: 15px;
    height: unset;
    grid-template-columns: 100%;
}

.tg_iframe .step-active .ticket-type .row .col-6 .ticket-type-name {
    height: 100%;
    display: grid;
    gap: 5px;
}


.tg_iframe .step-active .ticket-type .row .col-6 .ticket-type-price {
    justify-self: center;
    width: auto;
}



.tg_iframe .step-active .ticket-type-count-selector .ticket-type-current-count {
    color: #464646;
}

.tg_iframe .step-active .container-col {
    display: grid;
    gap: 20px;
    margin: 0;
    padding: 15px;
}

.tg_iframe .step-active .eventsComplex {
    display: none;
}



.tg_iframe .step-active .eventsComplex .incEvents {
    border-radius: 15px;
    margin: 0;
    margin-bottom: 20px;
    display: grid;
    gap: 10px;
    border: 1px solid #2a185f;
    background: #8cc4ed29;
}

.tg_iframe .step-active .eventsComplex .incEvents .eventKKTDescription {
    display: none;
}

.tg_iframe .step-active .eventsComplex .incEvents label {
    margin-bottom: 0;
    color: #edeef3;
}

.tg_iframe .step-active .orderElement {
    border-radius: 5px;
    min-height: unset;
    color: black;
}

.ymaps-2-1-79-ymaps-geolink-dark {
    color: lightgray !important;
}

.tg_iframe .step-active .container-col .eventName {
    margin: 0;
    justify-self: start;
}

.tg_iframe .step-active .container-col .tg-event--short-description {
    margin: 0;
    line-height: 1.4;
    text-align: start;
}

.tg_iframe .step-active .container-col .tg-event-hall {
    display: grid;
    gap: 10px;
}

.tg_iframe .step-form {
    display: grid;

}

.tg_iframe.form-control input:not(:disabled):not(.disabled):hover {
    border-color: #2a185f;
}


.tg_iframe .step-form .page-title-wrapper .row {
    display: grid;
    gap: 10px;
    justify-items: center;
}

.tg_iframe .step-form .page-title-wrapper .row .col-lg-6 {
    max-width: 950px;
    display: grid;
    justify-items: start;
    margin-top: 20px;
    padding-left: 25px;
}



.tg_iframe .step-form .page-title-wrapper .eventName {
    margin: 0;
    padding: 0;
}

.tg_iframe .step-form .container {
    background: transparent;
    display: grid;
    gap: 20px;
    padding: 20px;
}

.tg_iframe .tg-getOrderInfo {
    left: 20px !important;
    bottom: 70px;

}

.tg_iframe .step-form .container form {
    gap: 40px;
    display: grid;
}

.tg_iframe .step-form .container form .customer-contacts {
    gap: 20px;
    display: grid;
    margin: 0;
}

.tg_iframe .step-form .container form .customer-contacts .form-control {
    margin: 0;
}

.tg_iframe .step-form .container form .customer-contacts>div {

    display: grid;
    gap: 20px;
}

.tg_iframe .step-form .container form .customer-contacts .trdiv input {

    border-radius: 10px;
}

.tg_iframe .ED_form_user_email {
    display: none;
}



.tg_iframe .step-form .container form .customer-contacts .trdiv {
    margin-bottom: 0;
}


.tg_iframe .step-form .container form .customer-contacts .trdiv:has(.tr_1) {
    display: none;
}

.tg_iframe .step-form .container form .customer-contacts .trdiv:has(.tr_4) {

    display: none;
}

.tg_iframe .step-form .container form .customer-contacts .tg-before-terms {
    display: none;
}

.tg_iframe .step-form .container form .customer-contacts .tg-terms {
    margin: 0;
    display: grid;
    gap: 5px;
}

.tg_iframe .form-control-pt {
    margin: 20px 0px;
}

.tg_iframe .tg-radiobox-div label {
    background: transparent;
    color: white;
    border: 1px solid #2a185f;
    padding: 10px 15px;
    margin: 10px;
    border-radius: 25px;
}

.tg_iframe .form-control-pt input[type=radio]:checked+label {
    background: linear-gradient(to bottom right, #dceaf6, #e1e8ff, #dfe4ff, #daeeff, #cedaff);
    color: black;
    border-radius: 25px;
    font-weight: bold;
}

.tg_iframe .step-form .container form .customer-contacts .tg-terms .tg-terms-element {
    margin: 0;
}

.tg_iframe .step-form .customer-contacts .checkEmailManual {
    margin: 0;
    display: grid;
    gap: 10px;
    justify-items: center;
    justify-content: space-between;
}

.tg_iframe .step-form .customer-contacts button {
    margin: 0;

}

.tg_iframe .step-form .customer-contacts .checkEmailManual .form-control .rememberPsw {
    margin: 10px 0;
}

.tg_iframe .step-form .customer-contacts .checkEmailManual .form-control {
    margin-top: 20px;
    grid-column: 1 / 3;
    width: 100%;
    display: grid;
}

.tg_iframe .step-form .customer-contacts .checkEmailManual .form-control input {
    margin-top: 20px;
    width: 100% !important;
}

.tg_iframe .step-form .customer-contacts #ED_form_user_email {
    display: grid;
    grid-template-columns: 80%;
    justify-content: center;
}



customer-contacts .tg_iframe .step-form .container .page-subtitle {
    margin: 0;
}

.tg_iframe .step-form .container .page-subtitle div {
    display: none;
}

.tg_iframe .step-active .scheme svg {
    height: 550px !important;
}

.tg_iframe .step-active .scheme {
    border-radius: 5px;
    margin-top: 10px;
    background: linear-gradient(to bottom right, #dceaf6, #e1e8ff, #dfe4ff, #daeeff, #cedaff);
}

.tg_iframe .step-active .scheme .divZoom {
    background: transparent;

}

.tg_iframe .step-active .schemeContainer .tg-div-price_container .price_p {
    padding: 8px;
    border-radius: 10px;
    border: 1px solid #ffffff;
    display: grid;
    align-items: center;
}

.tg_iframe .pricePcName {
    color: rgb(68, 68, 68);
}


.tg_iframe .step-active .schemeContainer .price_p.selected {
    outline: 2px solid #5b17a8;
    border: none;
    opacity: 1;
}


@media (min-width: 576px) {

    .container,
    .container-sm {
        max-width: unset;
    }
}

@media (min-width: 1024px) {

    .container,
    .container-sm {
        max-width: 550px;
    }
}

@media (max-width: 980px) and (orientation: portrait) {
    header {
        padding: 10px !important;
    }

    #spanTimer {
        position: fixed;
        right: 30px;
        top: 12px;
        z-index: 99999;
    }
}

@media (min-width: 576px) {

    .container,
    .container-sm {
        max-width: 950px;
    }
}

@media (min-width: 950px) {

    .container,
    .container-sm {
        min-width: 950px;
    }

    div.tarif_group .ticket-type .row {
        height: unset;
        display: grid;
    }

    div.tarif_group .ticket-type .col:first-child {
        height: unset;
        display: block;
        justify-content: space-between;
    }
}

@media (min-width: 1250px) {
    .tg_iframe .tg-getOrderInfo {
        left: 20px !important;
        bottom: 70px;

    }

    .tg_iframe .b-select-tickets {
        padding-bottom: 150px;
    }
}

@media (max-width: 660px) {
    .tg_iframe .step-form .customer-contacts .checkEmailManual .form-control input {
        width: 100% !important;
    }

    .tg_iframe .step-form .customer-contacts #ED_form_user_email {

        grid-template-columns: 100%;

    }
}

@media all and (min-width: 480px) and (max-width: 768px) {

    .tg_iframe .flatpickr-current-month {

        font-size: 16px;
    }

    .tg_iframe .step-active .container .tg-tickets-total .b-selected-tickets-total {

        grid-auto-flow: row;

        justify-items: start;
        gap: 10px;
    }

    .tg_iframe .step-form .customer-contacts button {

        height: 100%;
        font-size: 14px;
    }

    .tg_iframe .tg-radiobox-div label {

        padding: 10px;

    }

    .tg_iframe .step-form .container form .customer-contacts .trdiv input {

        padding: 10px;
    }

    .tg_iframe .container .page-subtitle {
        margin-bottom: 5px;

    }

    .tg_iframe .step-form .page-title-wrapper .row .col-lg-6 {

        margin: 20px 0;
    }

    .tg_iframe .step-onlytid .tg-event-element-name {

        padding: 16px 14px;
    }

    .tg_iframe .tg-event-element {
        min-width: auto !important;
        margin: 0 !important;
    }

    .tg_iframe .step-onlytid .container {

        gap: 15px;


    }

    .tg_iframe .page {
        padding: 15px !important;
        padding-top: 20px !important;
        padding-bottom: 20px !important;
    }

    .tg_iframe .tg-event-element-name-tr {
        margin: 0 !important;
    }

    .tg_iframe .container,
    .container-fluid,
    .container-sm {

        padding: 0 !important;
    }

    .tg_iframe .step-onlytid .tg-event-element-name .tg-event-name {
        font-size: 16px;
    }

    .tg_iframe .tg-event-button {
        min-width: 90px;
    }

    .tg_iframe header {
        padding: 10px;
    }

    .tg_iframe .tg-event-button a {
        padding: 5px 15px;
    }

    .tg_iframe .step-onlytid .tg-event-element-name .tg-event-flex {
        gap: 8px;
    }



    .tg_iframe .step-event .container .tg-events-all .tg-select-datetime {
        grid-auto-flow: row;
        gap: 20px;
        margin-top: 10px;

        grid-template-columns: 64%;
    }

    .tg_iframe .flatpickr-day {
        height: 45px !important;
    }

    .tg_iframe .flatpickr-innerContainer {
        padding: 10px;
    }

    .tg_iframe .step-event .page-title-wrapper .page-title {

        padding: 0;
    }

    .tg_iframe .step-active .container-col {

        gap: 10px;
        font-size: 15px;
        padding: 10px;
    }

    .tg_iframe .step-active {

        gap: 20px;

    }

    .tg_iframe .step-active .container {

        gap: 10px;
    }

    .tg_iframe .step-active .container .level {

        display: grid;
        gap: 10px;
    }

    .tg_iframe .tg-price-name {
        font-size: 16px;
    }

    .tg_iframe .tg-tarif-description {

        font-size: 16px;
    }

    .tg_iframe .select-time-item,
    .tg_iframe .select-time-item.active,
    .tg_iframe .select-time-item_.active {
        height: 100%;
        min-height: 50px;
        min-width: 100px;
        padding: 0px;
    }

    .tg_iframe .step-active .ticket-type-count-selector button {

        width: 34px;
        height: 34px;
    }

    .tg_iframe .btn {
        min-width: 120px;
    }

    .tg_iframe .step-active .ticket-type .row {

        padding: 14px;

    }

    .tg_iframe .step-active .ticket-type {
        padding: 15px;
    }
}

@media all and (max-width: 480px) {


    .tg_iframe .step-active .container .tg-tickets-total .b-selected-tickets-total {

        grid-auto-flow: row;

        justify-items: start;
        gap: 10px;
    }

    .tg_iframe .step-form .customer-contacts button {

        height: 100%;
        font-size: 14px;
    }

    .tg_iframe .tg-radiobox-div label {

        padding: 10px;

    }

    .tg_iframe .step-form .container form .customer-contacts .trdiv input {

        padding: 10px;
    }

    .tg_iframe .container .page-subtitle {
        margin-bottom: 5px;

    }

    .tg_iframe .step-form .page-title-wrapper .row .col-lg-6 {

        margin: 20px 0;
    }

    .tg_iframe .step-onlytid .tg-event-element-name {

        padding: 16px 14px;
    }

    .tg_iframe .tg-event-element {
        min-width: auto !important;
        margin: 0 !important;
    }

    .tg_iframe .step-onlytid .container {
        grid-template-columns: 1fr;
        gap: 15px;


    }

    .tg_iframe .page {
        padding: 15px !important;
        padding-top: 20px !important;
        padding-bottom: 20px !important;
    }

    .tg_iframe .tg-event-element-name-tr {
        margin: 0 !important;
    }

    .tg_iframe .container,
    .container-fluid,
    .container-sm {

        padding: 0 !important;
    }

    .tg_iframe .step-onlytid .tg-event-element-name .tg-event-name {
        font-size: 16px;
    }

    .tg_iframe .tg-event-button {
        min-width: 90px;
    }

    .tg_iframe header {
        padding: 10px;
    }

    .tg_iframe .tg-event-button a {
        padding: 5px 15px;
    }

    .tg_iframe .step-onlytid .tg-event-element-name .tg-event-flex {
        gap: 8px;
    }

    .tg_iframe .step-event .container .tg-events-all .tg-events {
        font-size: 15px;
    }



    .tg_iframe .step-event .container .tg-events-all .tg-select-datetime {
        grid-auto-flow: row;
        gap: 20px;
        margin-top: 10px;

        grid-template-columns: 100%;
    }

    .tg_iframe .flatpickr-day {
        height: 45px !important;
    }

    .tg_iframe .flatpickr-innerContainer {
        padding: 10px;
    }

    .tg_iframe .step-event .page-title-wrapper .page-title {

        padding: 0;
    }

    .tg_iframe .step-active .container-col {

        gap: 10px;
        font-size: 15px;
        padding: 10px;
    }

    .tg_iframe .step-active {

        gap: 20px;

    }

    .tg_iframe .step-active .container {

        gap: 10px;
    }

    .tg_iframe .step-active .container .level {

        display: grid;
        gap: 10px;
    }

    .tg_iframe .tg-price-name {
        font-size: 16px;
    }

    .tg_iframe .tg-tarif-description {

        font-size: 16px;
    }

    .tg_iframe .select-time-item,
    .tg_iframe .select-time-item.active,
    .tg_iframe .select-time-item_.active {
        height: 100%;
        min-height: 50px;
        min-width: 100px;
        padding: 0px;
    }

    .tg_iframe .step-active .ticket-type-count-selector button {

        width: 34px;
        height: 34px;
    }

    .tg_iframe .btn {
        min-width: 120px;
    }

    .tg_iframe .step-active .ticket-type .row {

        padding: 14px;

    }

    .tg_iframe .step-active .ticket-type {
        padding: 15px;
    }

}
