.uc-div-tg iframe {
    width: 500px;
    background-color: aqua !important;
}

.uc-div-tg  #document {
    width: 500px !important;
    background-color: aqua !important;
}

.body {
background-color: red;
}
